# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/answer@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/answer_hover@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/audio@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/audio_min@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/audio_receiver_left@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/audio_receiver_right@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/audio_receiver_up_left@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/audio_receiver_up_right@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/camera@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/camera_hover@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/change@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/deselect@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/handfree@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/handfree_hover@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/hang_up@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/to_voice_1.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/to_voice_2.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/to_voice_3.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/unselect.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/unselected_full.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/up.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/VideoFile.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voice_1.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voice_2.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voice_3.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voice_4.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voice_5.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voice_6.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voice_7.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voice_8.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voice_unread.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voice_volume0@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/WordFile.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/actionbar_audio_call_icon.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/actionbar_video_call_icon.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/add@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/hang_up_hover@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/minimize@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/mute@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/mute_hover@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/selected@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/unselected@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/video@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/video_hover@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/video_left@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/video_min@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/video_right@2x.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/voip_call.caf
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/voip_call.mp3
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/voip_calling_ring.mp3
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongCloud.bundle/voip/voip_connecting.png
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Info.plist
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/RongIMKit
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCAttributedLabel.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCBaseViewController.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCChatSessionInputBarControl.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCContentView.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCConversationBaseCell.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCConversationCell.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCConversationDetailContentView.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCConversationListViewController.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCConversationModel.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCConversationSettingTableViewController.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCConversationSettingTableViewHeader.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCConversationStatusView.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCConversationViewController.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCEmojiBoardView.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCEmoticonTabSource.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCExtensionMessageCellInfo.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCExtensionModule.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCExtensionPluginItemInfo.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCFileMessageCell.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCIM.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCImageMessageCell.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCImageMessageProgressView.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCImagePreviewController.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCImageSlideController.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCKitUtility.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCLocationMessageCell.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCLocationPickerViewController.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCLocationViewController.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCMessageBaseCell.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCMessageBubbleTipView.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCMessageCell.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCMessageCellDelegate.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCMessageCellNotificationModel.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCMessageModel.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCPluginBoardView.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCPublicServiceChatViewController.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCPublicServiceListViewController.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCPublicServiceProfileViewController.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCPublicServiceSearchViewController.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCRichContentMessageCell.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCSettingViewController.h
RongCloudSingleChat/Pods/RongCloudIM/RongCloudIM/RongIMKit.framework/Headers/RCTextMessageCell.h
